services:
  # nginx
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - 8080:80
    restart: unless-stopped
    volumes:
      - ./src:/var/www/html
      - ./.srv/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app-network

  # php
  php:
    image: php:8.3-fpm
    container_name: php
    user: "${UID}:${GID}"
    ports:
      - 9000:9000
    restart: unless-stopped
    tty: true
    volumes:
      - ./src:/var/www/html
    networks:
      - app-network

networks:
  app-network:
    driver: bridge